mixin contacts
	div( block="contacts" )
		div(elem="outer")
			div( elem="inner" )
				+intro
					p
						| Остались вопросы?
					p
						| Свяжитесь с нами!

				ul( elem="list" )
					each item in site.data.contacts
						case item.type
							when "phone"
								li( elem="item" )
									span( elem="title" ) !{item.title}
									a( elem="link", href="tel:" + item.value ) !{item.description}

							when "email"
								li( elem="item" )
									span( elem="title" ) !{item.title}
									a( elem="link", href="mailto:" + item.value ) !{item.description}
							default
								li( elem="item", mod="full-width" )
									span( elem="title" ) !{item.title}
									span( elem="address" ) !{item.description}

		div( elem="map", id="map" )

