mixin post(item)
	div( block="post", mod=item.modifier, data-choice-marker=item.choiceMarker )
		a( elem="link", href=item.link )

			picture
				source( media="(min-width: 1200px)", srcset=item.imgDesktop + " 1x, " + item.imgDesktop2x + "" +
				" 2x" )
				source( media="(min-width: 700px)", srcset=item.imgTablet + " 1x, " + item.imgTablet2x + " 2x" )
				img(elem="image", src=item.imgMobile, alt=item.imgAlt, title=item.imgAlt)

		div( elem="container" )
			div( elem="author" )
				span( elem="author-name" ) !{item.author}
				time( elem="pubdate", datetime=item.dateTime ) !{item.time}
			div( elem="description" )
				p !{item.text}

			+like(item)
