mixin tariffs-table
	table( block="tariffs-table", class="tariffs-slider__slides" )
		thead( elem="header" )
			tr( elem="row" )
				th( elem="cell", class="tariffs-slider__slide"  )
				each item in site.data.tariffs.tariffsList
					if (item.isTag)
						th( elem="cell", mod="flag", data-tag=item.dataTag, class="tariffs-slider__slide" )
							strong( elem="tariff-name" ) !{item.tariffName}
							div( elem="tariff-price" ) !{item.tariffPrice}
					else
						th( elem="cell", class="tariffs-slider__slide" )
							strong( elem="tariff-name" ) !{item.tariffName}
							div( elem="tariff-price" ) !{item.tariffPrice}
		tbody( elem="body" )
			each item in site.data.tariffs.options
				tr( elem="row" )
					each val in item.optionValues
						td( elem="cell" )
							span( elem="option-name" ) !{item.optionName}
							span( elem="option-status" )
								if (val.isEnabled)
									svg( class="icon-enabled", width="31", height="21" )
										use( xlink:href="#icon-enabled" )
								else
									svg( class="icon-disabled", width="27", height="26" )
										use( xlink:href="#icon-disabled" )
