mixin textInput(item, inputType)
	label( block=inputType )
		span( elem="caption" ) !{item.label}
		span( elem="container" )
			input( elem="input", type=item.inputType, pattern=item.pattern, placeholder=item.placeholder )
